@{
    ViewData["Title"] = "Login";
}

<div class="titulo_pagina">
    <h1>@ViewData["Title"]</h1>
</div>

<form method="POST" action='@Url.Action("Logar")' class="cadastro">

    @* Required -- força a inserção dos dados necessários para login *@
    <div class="campo">
        <label>Email</label>
        <input type="email" name="Email" required />
    </div>

    <div class="campo">
        <label>Senha</label>
        <input type="password" name="Senha" required />
    </div>

    <button class="gradient btn" type="submit">Entrar</button>

    @* TEMPDATA.PEEK = uma forma de captirar a mensagem escrita no Controller --- Necessitando o uso da TEMPDATA no Controller *@
    <div class="erro">@TempData.Peek("Mensagem")</div>
</form>